{% extends "layout.html" %}
{% block content %}
<h1>Buscar Paciente</h1>
<form method="POST">
    <input type="text" name="nombre" placeholder="Nombre a buscar" required>
    <button type="submit">Buscar</button>
</form>

{% if pacientes %}
    <h2>Resultados:</h2>
    <ul>
    {% for paciente in pacientes %}
        <li><a href="{{ url_for('paciente_detalle', id=paciente.id) }}">{{ paciente.nombre }} - {{ paciente.edad }} años - {{ paciente.sexo }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}
