{% extends "layout.html" %}
{% block content %}
<h1>Nuevo Paciente</h1>
<form method="POST">
    <input type="text" name="nombre" placeholder="Nombre completo" required><br>
    <input type="number" name="edad" placeholder="Edad" required><br>
    <select name="sexo" required>
        <option value="">Sexo</option>
        <option value="Masculino">Masculino</option>
        <option value="Femenino">Femenino</option>
    </select><br>
    <button type="submit">Agregar Paciente</button>
</form>
{% endblock %}
